CVS/
# top-level non-src dirs
/bin/
/etc/
/www/
/logs/
# stuff we don't want public
/src/WordNetSQL/download-wn-db.sh
/src/Data/
# config/build system junk
config.log
config.status
TRIPS-stamp
/src/*/TRIPS
MANIFEST.MF
trips-*.core
/src/Makefile
/src/config/Makefile
/src/config/defs.mk
/src/config/*/Makefile
/src/config/*/defs.mk
/src/config/WordFinder/defs.lisp
/src/config/protege/defs.sh
# portaudio is a particular pain
/src/portaudio/portaudio-2.0.pc
/src/portaudio/lib
/src/portaudio/libtool
/src/portaudio/Makefile
/src/portaudio/include/pa_allocation.h
/src/portaudio/include/pa_converters.h
/src/portaudio/include/pa_cpuload.h
/src/portaudio/include/pa_debugprint.h
/src/portaudio/include/pa_dither.h
/src/portaudio/include/pa_endianness.h
/src/portaudio/include/pa_hostapi.h
/src/portaudio/include/pa_memorybarrier.h
/src/portaudio/include/pa_process.h
/src/portaudio/include/pa_ringbuffer.h
/src/portaudio/include/pa_stream.h
/src/portaudio/include/pa_trace.h
/src/portaudio/include/pa_types.h
/src/portaudio/include/pa_util.h
/src/portaudio/include/pablio.h
# and so is Sphinx3
/src/Sphinx3/**/Makefile.in
/src/Sphinx3/**/Makefile
/src/Sphinx3/**/.deps
/src/Sphinx3/**/.libs
/src/Sphinx3/stamp-h1
/src/Sphinx3/a.out*/
/src/Sphinx3/config.h
/src/Sphinx3/libtool
/src/Sphinx3/model/lm/an4/an4.ctl
/src/Sphinx3/model/lm/an4/args.an4
/src/Sphinx3/scripts/sphinx3-simple
/src/Sphinx3/scripts/sphinx3-test
/src/Sphinx3/src/libs3audio/ad.h
/src/Sphinx3/src/libs3audio/ad_conf.h
/src/Sphinx3/lm3g2dmp/lm3g2dmp
/src/Sphinx3/programs/decode
/src/Sphinx3/programs/gausubvq
/src/Sphinx3/programs/livedecode
/src/Sphinx3/programs/livepretend
/src/Sphinx3/programs/s3cont
/src/Sphinx3/programs/s3ptt
# TextTagger
/src/TextTagger/TextTagger
/src/TextTagger/alternate-spellings.tsv
/src/TextTagger/terms
/src/TextTagger/terms.txt
/src/TextTagger/terms.unsorted.txt
/src/TextTagger/personal-names.tsv
/src/TextTagger/get-ssh-tunnel
/src/TextTagger/wn-multiwords.tsv
/src/TextTagger/*-terms.tsv
/src/TextTagger/downloads/
/src/TextTagger/drum-dsl/
/src/TextTagger/specialist.tsv
/src/TextTagger/drum-dbxrefs.tsv
/src/TextTagger/Perl/Geo
/src/TextTagger/Perl/Lingua
/src/TextTagger/Perl/TextTagger/Config.pm
# WordNetSQL
/src/WordNetSQL/glosstags.psv
/src/WordNetSQL/wn.db
/src/WordNetSQL/gsts-warnings.txt
/src/WordNetSQL/eswn-relation.psv
/src/WordNetSQL/eswn-synset.psv
/src/WordNetSQL/eswn-variant.psv
/src/WordNetSQL/eswn.db
/src/WordNetSQL/sense-map.psv
/src/WordNetSQL/sense-map.db
/src/WordNetSQL/rdoc
/src/WordNetSQL/pod
# other modules (mostly run scripts)
/src/Facilitator/Facilitator
/src/Graphviz/Graphviz
/src/Graphviz/Configuration.pm
/src/KQML/extract-messages
/src/SpeechOut/SpeechOut
/src/SpeechOutMac/SpeechOutMac
/src/SpeechOutNot/SpeechOutNot
/src/TextPP/TextPP
/src/Tools/trips_cat
/src/Tools/trips_client
/src/Tools/trips_exec
/src/Tools/trips_msg
/src/DrumGUI/DrumGUI
/src/GroundingModule/GroundingModule
/src/SRIWrapper/SRIWrapper
/src/KeyboardManager/KeyboardManager
/src/DeepSemLex/data/*/
/src/Diesel/diesel.jar
/src/Diesel/xml
/src/Diesel/xml.zip
/src/SkeletonScore/SkeletonScore
/src/RDFMatcher/RDFMatcher
/src/WordNetWeb/add_suffix.ph
# system run scripts
/src/Systems/bob/trips-bob
/src/Systems/cabot/trips-cabot
/src/Systems/drum/trips-drum
/src/Systems/STEP/trips-step
# junk certain editors create
.*.swp
*~
# compiled JVM code
*.class
*.jar
# compiled C code
*.o
*.lo
*.a
*.la
# compiled Lisp code
*.fasl
*.x86f
*.dfsl
*.abcl
*.dx86fsl
*.lx86fsl
